#define WIFI_SSID "pretty-fly-for-a-wifi"
#define WIFI_PASSWORD "canhackzme"
#define S3_BUCKET_URL "https://your-bucket.s3.amazonaws.com"
#define AIRTABLE_KEY "Bearer keyhere"
#define TASK_SERIAL_RATE 1000
#define WIFI_CONNECT_TRY_COUNT 5
#define SHOULD_UPLOAD_DATA 1
#define CHIP_SELECT_PIN 33
#define CSV_COLUMN_UUID_INDEX 9

#include <WString.h>
const String AIRTABLE_BASE_URL = "https://api.airtable.com/v0/app7iOQ2nz2En6mej/GpsLog";