#define WIFI_SSID "pretty-fly-for-a-wifi"
#define WIFI_PASSWORD "canhackzme"
#define S3_BUCKET_URL "https://your-bucket.s3.amazonaws.com"
#define AIRTABLE_BASE_URL "url here"
#define AIRTABLE_KEY "Bearer keyhere"
#define TASK_SERIAL_RATE 1000 * 1